
.minecraft/mods/

.minecraft/saves/

.minecraft/logs/

.minecraft/crash-reports/

.minecraft/usercache.json

.minecraft/options.txt

.minecraft/.mixin.out/

.minecraft/.fabric/

.minecraft/icon.png
