
\.minecraft/options\.txt

\.minecraft/mods/

\.minecraft/crash-reports/

\.minecraft/\.mixin\.out/

\.minecraft/\.fabric/

\.minecraft/claimsdata/

\.minecraft/saves/

\.minecraft/mods\.backup/

\.minecraft/logs/

\.minecraft/craftpresence/

\.minecraft/chooser_0\.png

\.minecraft/mobs_0\.png

\.minecraft/pings_0\.png

\.minecraft/realms_persistence\.json

\.minecraft/usercache\.json

\.minecraft/waypoints_0\.png

\.minecraft/cutscenes/
